    <section>
      <h2>Squads</h2>
      <ul>
        <% squads.forEach(squad => { %>
          <li>Squad <%= squad.name %>, id <%= squad.id %>, tribe_id <%= squad.tribe_id %></li>
        <% }) %>
      </ul>
    </section>
  </body>
</html>