    <section>
      <h2>Squads</h2>
      <ul>
        <% squads.forEach(squad => { %>
          <li>Squad <%= squad.name %>, id <%= squad.id %>, tribe_id <%= squad.tribe_id %></li>
        <% }) %>
      </ul>
    </section>
    <script src="/script.js"></script>
    <script src="https://kit.fontawesome.com/a88ce536bf.js" crossorigin="anonymous"></script>  
  </body>
</html>