@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    background: #05053f;

}

.hva {
    width: 9.3em;
    margin: 1.2em 1.5em 0 1em;

}

.fdnd {
    width: 8.3em;
    margin-top: 1.5em;
    margin-left: 0.5em;
}

.logo__text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sort {
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    margin-top: 3em;
    margin-left: 0.8em;
    text-transform: uppercase;
}

.filter {
    font-size: 0.9em;
    color: white;
}

.frontend {
    border-left: 0.8px solid white;
    margin-top: 1.3em;
    padding: 0.3em 0 0 1.2em;
    font-size: 0.8em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    margin: 0 1em 0 1em;
}

a {
    display: inline-block;
    text-decoration: none;
    /* margin: 0 1em 0 1em; */
    font-weight: 500;
}

.A {
    background-color: transparent;
    border: 2px solid #6be8ca;
    color: #6be8ca;
    padding: 0.3em 1em;
    border-radius: 20px;
    /* color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6be8ca;
} */

}

.B {
    background-color: #6be8ca;
    border: 2px solid #6be8ca;
    border: none;
    color: #05053f;
    padding: 0.3em 1em;
    border-radius: 50px;
    /* color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #9f77ed; */
}

.C {
    background-color: transparent;
    border: 2px solid #6be8ca;
    color: #6be8ca;
    padding: 0.3em 1em;
    border-radius: 50px;
}

.A:hover {
    background-color: #9f77ed;
    border: 2px solid #9f77ed;
    color: #05053f;
}

.B:hover {
    background-color: #9f77ed;
    color: #05053f;
}

.C:hover {
    background-color: #9f77ed;
    border: 2px solid #9f77ed;
    color: #05053f;
}




.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    gap: 2em;
}

.marquee:hover .marquee__item {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.marquee__item {
    display: inline-block;
    will-change: transform;
    -webkit-animation: marquee 25s linear infinite;
    animation: marquee 25s linear infinite;
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee {
    font-size: 2em;
    padding: 1rem 0;
    color: #fff;
}


.marquee2 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee2:hover .marquee__item2 {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.marquee__seperator {
    margin: 0 2rem;
}

.marquee__item2 {
    display: inline-block;
    will-change: transform;
    -webkit-animation: marquee 25s linear infinite;
    animation: marquee 25s linear infinite;
    animation-direction: reverse;
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee2 {
    font-size: 2em;
    padding: 1rem 0;
    color: #fff;
}


.marquee3 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee3:hover .marquee__item3 {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.marquee__seperator {
    margin: 0 2rem;
}

.marquee__item3 {
    display: inline-block;
    will-change: transform;
    -webkit-animation: marquee 25s linear infinite;
    animation: marquee 25s linear infinite;
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee3 {
    font-size: 2em;
    padding: 1rem 0;
    color: #fff;
}

main section {
    margin-top: 3em;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

article {
    position: relative;
    width: 14rem;
    height: 19rem;
    padding: 1rem;
    color: slate;
    text-align: center;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1.5px solid rgba(105, 105, 105, 0.1);
}

article h2 {
    font-size: 1rem;
    font-weight: normal;
    color: white;
    margin-bottom: 2em;
}

article img {
    height: 8rem;
    width: 8rem;
    margin-top: 1em;
    margin-bottom: 1.5em;
    border-radius: 50%;
}

article a {
    position: absolute;
    top: 0;
    left: 0;
    width: 14rem;
    height: 19rem;
    border-radius: 1rem;
    display: block;
}

article a:hover {
    width: 14rem;
    height: 19rem;
    background: rgba(61, 90, 140, 0.133);
}

article a span {
    display: none;
}

button {
    padding: 0.5em 2em;
    background-color: #6be8ca;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #9f77ed;
    color: #05053f;
}

.button__text {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}