@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ------------ VARIABLES ------------ */
:root {
    /* COLORS */
    --color: #9176FF;
    --dark-color: #060606;
    --dark-icon-color: #fff;
    --light-color: #05053f;
    --light-icon-color: #6be8ca;
}

/* ------------ BASE ------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--light-color);
    font-family: Helvetica, Arial, sans-serif;
}

.bigger_screen {
    display: none;
}

.grain {
    position: relative;
    height: 100vh;
    text-align: left;
    isolation: isolate;
}

.grain:before {
    content: "";
    position: fixed;
    top: -150%;
    left: -100%;
    z-index: -1;
    width: 350%;
    height: 350%;
    background-image: url("../img/grain.png");
    opacity: 0.25;
}

.grain::before {
    animation: grain 5s steps(10) infinite;
}

@keyframes grain {

    0%,
    100% {
        transform: translate(0);
    }

    10% {
        transform: translate(-5%, -10%);
    }

    20% {
        transform: translate(-15%, 5%);
    }

    30% {
        transform: translate(7%, -25%);
    }

    40% {
        transform: translate(-5%, 25%);
    }

    50% {
        transform: translate(-15%, 5%);
    }

    60% {
        transform: translate(15%);
    }

    70% {
        transform: translateY(15%);
    }

    80% {
        transform: translate(3%, 35%);
    }

    90% {
        transform: translate(-10%, 10%);
    }
}

/* HEADER */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hva {
    width: 8em;
    margin: 1.2em 0.8em 0 1em;

}

.logo__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fdnd {
    display: none
}

.fdnd2 {
    width: 6.5em;
    height: 5em;
    margin-top: 1em;
    margin-left: 0.5em;
}

.sort2 {
    font-size: 2em;
    font-weight: 600;
    color: white;
    margin-top: 0.5em;
    margin-left: 0.8em;
    text-transform: uppercase;
}

.filter {
    font-size: 0.9em;
    color: white;
}

.frontend {
    border-left: 0.8px solid white;
    margin-top: 1.3em;
    padding: 0.3em 0 0 1.2em;
    font-size: 0.8em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/* HERO */

h1 {
    position: relative;
    font-size: 6em;
    margin-left: 0.2em;
    color: #222269;
    line-height: 1.3;
    text-transform: uppercase;
    font-family: 'Poppins';
}

.date {
    position: relative;
    font-size: 4em;
    margin-left: 0.3em;
    letter-spacing: 1;
    color: #222269;
    text-transform: uppercase;
    font-family: 'Poppins';
}

/* -------------- MARQUEE -------------- */
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    display: inline-block;
    text-decoration: none;
    margin: 0 1em 0 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.A {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6be8ca;
}

.A:hover {
    color: #9f77ed;
    -webkit-text-stroke-color: #9f77ed;
}

h2 {
    color: white;
    font-size: 1.5em;
    text-align: left;
}

.B {
    color: #6be8ca;
}

.B:hover {
    color: #9f77ed;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #9f77ed;
}

.C {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #9f77ed;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    gap: 2em;
    margin-top: 0.2em;
    font-size: 5em;
    color: #fff;
}

.marquee:hover .marquee__item {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.marquee__item {
    display: inline-block;
    will-change: transform;
    -webkit-animation: marquee 25s linear infinite;
    animation: marquee 25s linear infinite;
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* ------------- CARDS -------------- */


main section {
    margin-top: 3em;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

article {
    position: relative;
    width: 14em;
    height: 19em;
    padding: 1rem;
    text-align: center;
    background: #17174a;
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid #9176FF;
    overflow: hidden;
}

.name__card {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    color: white;
    margin-bottom: 2em;
}

article h2 {
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
    margin-bottom: 2em;
}

article img {
    height: 8rem;
    width: 8rem;
    margin-top: 1em;
    margin-bottom: 1.5em;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

article a {
    position: absolute;
    top: 0;
    left: 0;
    width: 14em;
    height: 19em;
    border-radius: 1rem;
    display: block;
}

article:hover {
    width: 14em;
    height: 19em;
    background: rgba(61, 90, 140, 0.133);

}

article a span {
    display: none;
}

.card__button {
    padding: 0.5em 2em;
    background-color: #6be8ca;
    border: none;
    border-radius: 4px;
}

.card__button:hover {
    background-color: #9f77ed;
    color: #05053f;
}

.button__text {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}


/* -------------- BUTTON SMILEY -------------- */

.btn__indicator {
    border-radius: 50%;
    position: relative;
    transition: transform .3s ease;
}

.btn__icon-container {
    width: 100%;
    height: 100%;
}

.btn__icon {
    color: var(--light-icon-color);
    font-size: 1.5rem;
    margin-top: 0.8em;
    margin-right: 1em;
}

/* -------------- ANIMATION ------------ */
.btn__icon.animated {
    animation: spin 0.5s;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* -------------- DARKMODE -------------- */
body.darkmode {
    background-color: #1a1a1a;
}

.darkmode .btn__icon {
    color: var(--dark-icon-color);
}

.darkmode .fdnd2 {
    display: none
}

.darkmode .fdnd {
    display: block;
    width: 6.5em;
    height: 5em;
    margin-top: 1em;
    margin-left: 0.5em;
}

.darkmode h1 {
    color: #282828;
}

.darkmode .date {
    color: #282828;
}

.darkmode .A {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.darkmode .B {
    color: white;
}

.darkmode .C {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.darkmode article {
    position: relative;
    width: 14em;
    height: 19em;
    padding: 1rem;
    text-align: center;
    background: #1a1a1a;
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgb(255, 255, 255);
    overflow: hidden;
}

.darkmode article img {
    height: 8rem;
    width: 8rem;
    margin-top: 1em;
    margin-bottom: 1.5em;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    filter: grayscale(100%)
}

.darkmode .card__button {
    padding: 0.5em 2em;
    background-color: white;
    border: none;
    border-radius: 4px;
}

.darkmode .A:hover {
    color: white;
    -webkit-text-stroke-color: white;
}


.darkmode .B:hover {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.darkmode .C:hover {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

@media screen and (min-width: 64em) {

    main section {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: space-evenly;
    }

    h1 {
        display: none;
    }

    .date {
        display: none;
    }

    p {
        color: white;
    }

    .showcase,
    .showcase>*:not(.link) {
        padding: 0;
    }

    .showcase {
        text-align: left;
        display: grid;
        grid-template-columns: 8rem 12rem 10rem 1fr 1fr;
        grid-template-rows: 8rem min-content min-content 1fr 1fr;
        grid-template-areas:
            "... ... ... title title"
            "... ... ... ... subtitle"
            "... newsletter ... description cta"
            "marquee marquee marquee marquee marquee"

    }

    .A:hover {
        color: #9f77ed;
        -webkit-text-stroke-color: #9f77ed;
    }


    .B:hover {
        color: #9f77ed;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #9f77ed;
    }

    .C:hover {
        color: #9f77ed;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #9f77ed;
    }

    .sort2 {
        display: none;
    }


    .link-dashboard {
        grid-area: dashboard;
    }

    .title {
        grid-area: title;
        line-height: 1;
        pointer-events: none;
        color: white;
        font-size: 8vw;
        font-weight: 700;
        text-transform: uppercase;
    }

    .subtitle {
        grid-area: subtitle;
        line-height: 1;
        margin-top: 0.5rem;
        font-size: 4vw;
        padding-bottom: 2rem;
        letter-spacing: 1.5;
        margin-left: -0.4em;
    }

    .vertical-text {
        grid-area: newsletter;
        font-size: 1.8em;
        text-transform: uppercase;
        justify-self: end;
        color: white;
    }

    .vertical-text-inner {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    .description {
        grid-area: description;
        max-width: 80%;
    }

    .marquee {
        grid-area: marquee;
        margin-bottom: 0.5em;
    }

    .vertical-center {
        display: flex;
        align-self: center;
    }

    .sort {
        grid-area: cta;
        font-size: 3em;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        margin-top: 5em;
        margin-left: 4em;
    }

    .btn__icon {
        font-size: 2.5rem;
        margin-top: 0.8em;
        margin-right: 2em;
    }

    .hva {
        width: 10em;
        margin: 1.2em 0.8em 0 1em;

    }

    .frontend {
        border-left: 0.8px solid white;
        margin-top: 1.3em;
        padding: 0.3em 0 0 1.2em;
        font-size: 0.9em;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
    }


    @media (prefers-reduced-motion: no-preference) {
        .has-in-common {
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
            animation-delay: var(--delay);
        }

        .to-right,
        .to-bottom {
            display: block;
            opacity: 0;
        }

        .to-right {
            animation-name: toRight;
        }

        .to-bottom {
            animation-name: toBottom;
        }

        .scale-rotate {
            scale: 0;
            animation-name: scaleRotate;
            animation-duration: 0.5s;
        }

        @keyframes toRight {
            from {
                opacity: 1;
                transform: translateX(-100%);
            }

            to {
                opacity: 1;
                transform: none;
            }
        }

        @keyframes toBottom {
            from {
                opacity: 1;
                transform: translateY(-100%);
            }

            to {
                opacity: 1;
                transform: none;
            }
        }

        @keyframes scaleIn {
            from {
                scale: 0;
            }

            to {
                scale: 1;
            }
        }

        @keyframes scaleRotate {
            from {
                scale: 0;
                rotate: 60deg;
            }

            to {
                scale: 1;
                rotate: 0deg;
            }
        }
    }
}