<%- include('./partials/head') %>

<main>
  <header>
      <h1>FDND<span>Wie<span>Is</span>Wie</span></h1>
  </header>
  
  <ul>
    <li>
      <img src="/members/Cyd-Stumpel.JPG" alt="" />
      <h3>Cyd Stumpel</h3>
    </li>
    <li>
      <img src="/members/Dorien-Drees.JPG" alt="" />
      <h3>Dorien Drees</h3>
    </li>
    <li>
      <img src="/members/Justus-Sturkenboom.JPG" alt="" />
      <h3>Justus Sturkenboom</h3>
    </li>
    <li>
      <img src="/members/Krijn-Hoetmer.JPG" alt="" />
      <h3>Krijn Hoetmer</h3>
    </li>
    <li>
      <img src="/members/Suus-ten-Voorde.JPG" alt="" />
      <h3>Suus ten Voorde</h3>
    </li>
    <li>
      <img src="/members/Joost-Faber.JPG" alt="" />
      <h3>Joost Faber</h3>
    </li>
    <li>
      <img src="/members/Ischa-Gast.JPG" alt="" />
      <h3>Ischa Gast</h3>
    </li>
    <li>
      <img src="/members/Koop-Reynders.JPG" alt="" />
      <h3>Koop Reynders</h3>
    </li>
    <li>
      <img src="/members/Charley-Muhren.JPG" alt="" />
      <h3>Charley Muhren</h3>
    </li>
    <li>
      <img src="/members/Berat-Zekaj.JPG" alt="" />
      <h3>Berat Zekaj</h3>
    </li>
  </ul>

</main>

<%- include('./partials/foot') %>