@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    list-style: none;
}

:root{
    --bckgrndclr: #0B0053;
    --accntclr1Y: #F9BD00;
    --accntclr1R: #E3004F;
    --mainfont: 'Kalam', cursive;
    --fontLarge: 700;
    --fontMedium: 400;
    --fontSmall: 300;

}


html, body{
    max-width: 100%;
    overflow-x: hidden;
    background: var(--bckgrndclr);
}



h1{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    font-size: 8vw;
    color: var(--accntclr1Y);
    font-weight: var(--fontLarge);
    font-family: var(--mainfont);
    border-bottom: 2px solid var(--accntclr1R);

}

.class-switch{
    max-width: 50em;
    margin-inline: auto;
    margin-top: 20px;
    padding: 0 20px;
}

ul.slides {
    position: relative;
    width: 100%;
    height: 20vh;
    list-style: none;
    padding: 0;
    overflow: hidden;
  }
  
  li.slide {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kalam';
    font-size: 70px;
    color: var(--accntclr1Y);
    font-weight: var(--fontSmall);
    transition: .5s transform ease-in-out;
  }
  
  .slide:nth-of-type(1) {
    background-color: transparent;
  }
  
  .slide:nth-of-type(2) {
    background-color: transparent;
    left: 100%;
  }
  
  .slide:nth-of-type(3) {
    background-color: transparent;
    left: 200%;
  }
  
  input[type="radio"] {
    position: relative;
    z-index: 100;
    display: none;

  }
  
  .controls-visible {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
  }
  
  .controls-visible label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 3px;
    border: 2px solid #fff;
    cursor: pointer;
  }
  
  .slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
    background-color: #333;
  }
  
  .slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
    background-color: #333;
    
  }
  
  .slides input[type="radio"]:nth-of-type(3):checked ~ .controls-visible label:nth-of-type(3) {
    background-color: #333;

  }
  
  .slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
    transform: translatex(0%);
  }
  
  .slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
    transform: translatex(-100%);
  }
  
  .slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
    transform: translatex(-200%);
  }
  
  
  .navigator {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    z-index: 50;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    display: none;
  }
  
  .navigator i {
    font-size: 30px;
    color: var(--accntclr1R);
    cursor: pointer;
  }
  
  .slides input[type="radio"]:nth-of-type(1):checked ~ .navigator:nth-of-type(1) {
    display: flex;
  }
  
  .slides input[type="radio"]:nth-of-type(2):checked ~ .navigator:nth-of-type(2) {
    display: flex;
  }
  
  .slides input[type="radio"]:nth-of-type(3):checked ~ .navigator:nth-of-type(3) {
    display: flex;
  }

.filters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    font-family: var(--mainfont);
    font-weight: var(--fontMedium);

}

  .dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  
  .select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px var(--accntclr1R);
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 1em;
    transition: 0.3s;
    width: 200px;
    background-color: #051C2C;
    color: white;
  }

  .select-clicked {
    border: 2px gray;
    box-shadow: 0 0 0.8em #051C2C;
  }

  .select:hover{
    background: #4D6995;
  }

  .caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
  }

  .caret-rotate{
    transform: rotate(180deg);
  }

  .menu{
    padding: 0.2em 0.5em;
    background: var(--accntclr1R);
    border: 1px #333 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #ffffff;
    position: absolute;
    top: 3.8em;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;

    & li{
        padding: 0.7em 0.5em;
        margin: 0.3em 0;
        border-radius: 0.5em;
        cursor: pointer;
            
    &::after{
        content: var(--bckgrndclr);
    }
    
}
}

  .menu li:hover {
    color: black;
  }

  .active{
    background: var(--accntclr1Y);
  }

  .menu-open{
    opacity: 1;
    display: block;
  }

  @media only screen and (max-width: 910px) {
    .filters {
      grid-template-columns: 1fr 1fr;
    }
    
    .menu , .select{
        width: 140px;
    }

  }
  
  .card{
    height: 100px;
    width: 60px;
    background-color: #051C2C;
  }

  form button{
    background: none;
    border: none;
    font-size: 3em;
    cursor: pointer;

    &:hover{
      transform: scale(1.3);
      transition: .2s;
      transition-timing-function: ease;
    }
  }

.preloader{
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #660094;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease;
}

.star1,.star2,.star3,.star4{
    height: 120px;
    position: absolute;
    z-index: -1;
    top:-100%
}

.star1{
    right: 60%;
    animation: stars 1.5s linear infinite 0.5s;
}

.star2{
    left: 20%;
    animation: stars 1.5s linear infinite 1s;
}

.star3{
    animation: stars 1.5s linear infinite;
}


.rocket{
    position: relative;
    animation: rocket 0.01s ease infinite alternate;
    bottom: 150px;
    max-height: 400px;
}

.aarde{
    position: absolute;
    bottom: 0;
    height: 40vh;
    animation: aarde 12s ease alternate infinite;
}


@keyframes stars{
    from{
        top:-100%;
    }
    to{
        top:100%;
    }
}

@keyframes aarde{
    from{
        bottom: 0%;
    }
    to{
        bottom:-100%;
    }
}

@keyframes rocket{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(4px);
    }
}

.end-preloader{  
    opacity:0;
    pointer-events:none;
}

.number{
    position: absolute;
    top: 15%;
    left: 75%;
    font-size: 5.2vh;
    color: white;
    font-family: sans-serif;
}

.website{
  opacity: 0;
}