* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --twitter-color: #1da1f2;
  --twitter-background: #e6ecf0;
}

h1,
h2 {
  font-size: 1.2em;
}

.fdnd {
  font-weight: 600;
  border: 1px solid var(--twitter-color);
  border-radius: 7px;
  box-shadow: calc(-1 * 5px) 5px 0 0 var(--twitter-color);
  color: var(--twitter-color);
  text-transform: lowercase;
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

/* Dit heeft Jalal gemaakt */
.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption > ul{
  margin-left: 3em;
}

.sidebarOption > ul > li{
  display: flex;
  align-items: center;
  padding: 1em;
}

.sidebarOption > ul > li > a{
  text-decoration: none;
}

.sidebarOption > ul > li > a:hover{
color: var(--twitter-color);
}

.sidebarOption:nth-of-type(2){
  position: relative;
  bottom: .7em;
}

.sidebarOption:nth-of-type(3){
  position: relative;
  bottom: .7em;
}

/* TOT HIER heeft Jalal gemaakt */

.sidebarOption .material-icons,
.fa-twitter {
  padding: 20px;
}

.squad-title {
  font-weight: bold;
  font-size: 1.25em;
}

.squad-title2{
  font-weight: lighter;
  font-weight: 500;
  font-size: 1.25em;
}

.sidebarOption h2 {
  font-weight: 500;
  font-size: 1.25em;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: var(--twitter-background);
  border-radius: 2em;
  color: var(--twitter-color);
  transition: background-color 222ms ease-out;
}

.sidebarOption.active {
  color: var(--twitter-color);
}

.sidebar__tweet {
  width: 100%;
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

body {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-twitter {
  color: var(--twitter-color);
  font-size: 30px;
}

/* feed */
.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed__header h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* tweet box */
.tweetbox__input img {
  border-radius: 50%;
  height: 60px;
}

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 3px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox form {
  display: flex;
  flex-direction: column;
}

.tweetbox__input {
  display: flex;
  padding: 0.8em;
}

.tweetbox__input input {
  flex: 1;
  margin-left: 1.2em;
  font-size: 1.2em;
  border: none;
  outline: none;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

/* tweet posts */
.post__avatar img {
  display: flex;
  border-radius: 50%;
  height: 60px;
  margin-bottom: -80px;
}

a {
  color: black;
}
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin-top: 10px;
  margin-bottom: 7px;
}

.post {
  display: grid;
  align-items: flex-start;
  padding: 0.7em;
  max-width: 40em;
}

.post__body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
  border-bottom: 1px solid var(--twitter-background);
}

.post__footer {
  display: flex;
  justify-content: space-around;
  margin-top: 1.7em;
  color: gray;
}

.post__badge {
  font-size: 18px !important;
  color: var(--twitter-color);
  margin-right: 5px;
}

.post__headerSpecial {
  font-weight: 500;
  font-size: 0.9em;
  color: gray;
}

.post__headerText h3 {
  margin-left: 5.4em;
  font-size: 1em;
  margin-bottom: 5px;
  margin-top: -1.85em;
}

.post__headerDescription {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 5.8em;
  font-size: 15px;
}

.post__headerDescription span {
  color: var(--twitter-color);
  font-weight: 600;
  text-align: left;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__avatar {
  padding: 20px;
}

/* interaction feed */
.retweet:hover {
  background-color: rgb(172, 233, 172);
  color: green;
  width: 30px;
  height: 30px;
  padding-left: 3px;
  border-radius: 50%;
  transition: all 0.25s ease;
  cursor: pointer;
}

.like:hover {
  color: red;
  cursor: pointer;
  transition: all 0.25s ease;
}

.comment:hover {
  color: var(--twitter-color);
  cursor: pointer;
  transition: all 0.25s ease;
}

/* widgets */
.widgets {
  flex: 0.3;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input input {
  border: none;
  background-color: var(--twitter-background);
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

/* Dit heeft Jalal gemaakt */

.widgets__widgetContainer > article{
display: flex;
flex-direction: column;
gap: 1.5em;
}

.widgets__widgetContainer > article:nth-child(2){
  margin-top: 2em;
}

.widgets__widgetContainer h2 {
  font-size: 18px;
  font-weight: 800;
  padding-left: .5em;
}

.widgets__widgetContainer > article > a:hover{
  color: var(--twitter-color);
}

.widgets__widgetContainer > article > div{
  display: flex;
}